*.*sdf
*.cache
*.docstates
*.ipch
*.ncrunchsolution
*.orig
*.pidb
*.psess
*.sln.ide
*.sln.ide/
*.suo
*.user
*.userprefs
*.vsp
*DS_Store
*k10.csproj
*launchSettings.json
*net45.csproj
*net451.csproj
.build/
.nuget/
.settings
.testPublish/
.vs/
PublishProfiles/
TestResults/
[Bb]in/
[Oo]bj/
_ReSharper.*
_ReSharper.*/
artifacts/
bower_components/
debugSettings.json
integration/newman
node_modules
node_modules/
nuget.exe
mochawesome-report/*.html
packages/
packages/_lib/
project.lock.json
web.local.config

# Cake Build Related
.idea
/artifacts/ 
tools/*
!tools/packages.config
mochawesome-report/*
